* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

#root {
    height: 100%;
}

.overview {
    position: absolute;
    background: white;
    border-radius: 2rem;
    height: 20rem;
    width: 10rem;
    box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.1);
    top: 0;
    right: 0;
    margin: 2rem;
}

.drone-marker {
    width: 3rem;
    height: 3rem;
    position: absolute;
    background: url('/images/drone-icon.svg') no-repeat center / cover;
}